<%# Write your code here! %>
<<<<<<< HEAD
<h1>Welcome!</h1>

<form action="/greet" method="POST">
  <label for="user_name">Name:</label>
  
  <p>
    <input type = "text" name="user_name" id="user_name"/>
  </p>
  
  <input type="submit" value="Submit" />
</form>
=======
<h1>Welcome!</h1>
>>>>>>> 36eef16411a76fe3c3e3760863a01bdcfecfa279
